[submodule "cola2_core"]
	path = cola2_core
	url = git@github.com:srv/cola2_core.git
  branch = noetic-iquarobotics
[submodule "cola2_lib"]
	path = cola2_lib
	url = git@github.com:srv/cola2_lib.git
  branch = noetic-iquarobotics
[submodule "cola2_msgs"]
	path = cola2_msgs
	url = git@github.com:srv/cola2_msgs.git
  branch = noetic-iquarobotics
[submodule "cola2_analysis"]
	path = cola2_analysis
	url = git@github.com:srv/cola2_analysis.git
  branch = noetic-iquarobotics
[submodule "cola2_lib_ros"]
	path = cola2_lib_ros
	url = git@github.com:srv/cola2_lib_ros.git
  branch = noetic-iquarobotics
[submodule "adis_imu"]
	path = adis_imu
	url = git@github.com:srv/adis_imu.git
  branch = noetic-iquarobotics
[submodule "battery_control_board"]
	path = battery_control_board
	url = git@github.com:srv/battery_control_board.git
  branch = noetic-iquarobotics
[submodule "emus_bms"]
	path = emus_bms
	url = git@github.com:srv/emus_bms.git
  branch = noetic-iquarobotics
[submodule "nmea_gps"]
	path = nmea_gps
	url = git@github.com:srv/nmea_gps.git
  branch = noetic-iquarobotics
[submodule "cola2_turbot"]
	path = cola2_turbot
	url = git@github.com:srv/cola2_turbot.git
  branch = noetic-iquarobotics
[submodule "turbot_description"]
	path = turbot_description
	url = git@github.com:srv/turbot_description.git
  branch = noetic-iquarobotics
[submodule "iquaview"]
	path = iquaview
	url = git@github.com:srv/iquaview.git
  branch = noetic-iquarobotics
[submodule "iqua_t350_thrusters"]
	path = iqua_t350_thrusters
	url = git@github.com:srv/iqua_t350_thrusters.git
  branch = noetic-iquarobotics
[submodule "teledyne_rdi_dvl"]
	path = teledyne_rdi_dvl
	url = git@github.com:srv/teledyne_rdi_dvl.git
  branch = noetic-iquarobotics
[submodule "iquaview_lib"]
	path = iquaview_lib
	url = git@github.com:srv/iquaview_lib.git
  branch = noetic-iquarobotics
